:root {
  --bg: #d8846de0;
  --dark: #dfc79fc1;
  --dark-sea: #152855fe;
  --grey: #f9fdd9;
  --white: #ffffff;
  --violet: #ff0000fe;
  --violet-dark: #0000003f;
  --light: #ffffff;
  --sea: #ffffffb9;
}
