:root {
  --bg: #12514a86;
  --dark: #bff5dd88;
  --dark-sea: #576067;
  --grey: #e1f907b9;
  --white: #ffffff;
  --violet: #578bc6;
  --violet-dark: #3e56b8;
  --light: #e1f907b9;
  --sea: #e1f907b9;
}
